/* roboto-400 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: local(''),
       url('../fonts/roboto-400-latin.woff2') format('woff2'),
       url('../fonts/roboto-400-latin.woff') format('woff');
}

/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: local(''),
       url('../fonts/roboto-500-latin.woff2') format('woff2'),
       url('../fonts/roboto-500-latin.woff') format('woff');
}

/* roboto-condensed-400 - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: local(''),
       url('../fonts/roboto_condensed-400-latin.woff2') format('woff2'),
       url('../fonts/roboto_condensed-400-latin.woff') format('woff');
}

/* roboto-mono-400 - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: local(''),
       url('../fonts/roboto-mono-latin-400.woff2') format('woff2'),
       url('../fonts/roboto-mono-latin-400.woff') format('woff');
}
